<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40"  *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{baseURL + dish.image}}" alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
        </button>  
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>        
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
      </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40"  *ngIf="dish" [@visibility]="visibility" [@expand]>
    <h3>Comments</h3>
    <div *ngFor="let cmmt of dish.comments">
      <p>{{cmmt.comment}}<br/>
      {{cmmt.rating}} Stars<br/>
      -- {{cmmt.author }} {{cmmt.date | date}}
      </p>
    </div>
    <form novalidate #commentForm="ngForm" (ngSubmit)="onSubmit()">     
      <p> {{ feedback | json}}</p>  
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Name" name="nome" required [(ngModel)]="feedback.name">
        </mat-form-field>
      </p>
      <mat-slider min="0" max="5" step="1" value="1" tickInterval="1"  thumbLabel></mat-slider>
      <p>
        <mat-form-field>
          <textarea matInput placeholder="Your Comment" rows="6" cols="6" name="feedback" [(ngModel)]="feedback.comment"></textarea>
        </mat-form-field>
      </p>
      <mat-dialog-actions>
        <button mat-button type="submit" class="background-primary text-floral-white" [disabled]="commentForm.form.invalid">Send</button>
      </mat-dialog-actions>
    </form>           
  </div> 
  
  

  <div fxFlex [hidden]="dish || errMess">
    <mat-spinner></mat-spinner><h4>Loading... Please wait.</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

</div>

